{% extends "base.html.twig" %}

{% block body %}
    <h1>Contact Form!</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_home') }}" class="btn btn-success">Homepage</a>
{% endblock %}