{% extends "base.html.twig" %}

{% block body %}
    <h1>Contact Form!</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.password) }}
        {{ form_row(form.message) }}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.send) }}
        <a href="{{ path('app_home') }}" class="btn btn-success float-end"><i class="fa-solid fa-house"></i> Homepage</a>
        <a href="{{ path('app_contact_form') }}" class="btn btn-info float-end me-1"><i class="fa-solid fa-rotate"></i> Refresh form</a>
    {{ form_end(form) }}
{% endblock %}